@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var isAuthorized = User.IsInRole(Constants.ParkingAdministratorsRole);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && isAuthorized)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/ParkingLots/Index">ParkingLots</a>
        </li>
    }
</ul>
