@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://i.insider.com/5e3d951be35bab70d52d3adb?width=1020&format=jpeg" alt="Parking Lot">
</div>
